numpy
pandas
scikit-learn
scipy

matplotlib
seaborn

xgboost
lightgbm

joblib

kaggle
python-dotenv

openpyxl
pyarrow

pyspark

apache-airflow
apache-airflow-providers-databricks